 .main-block{
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    min-width: 357px;
    width: 60%;
    height: 60%;
    margin-Right: -50%;
    transform: translate(-50%, -50%);
    /* background-image: linear-gradient(to right, #29323c , #485563); */
    /* background-color: blueviolet; */
background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
 background-blend-mode: multiply,multiply;
    }

.knopka{
  margin-left: 43%;
  margin-top: 40px;
}
.close-button{
  float: right;
}

.add-album > input{
  margin: 25px 37%;
}
.add-album > h2{
  margin-left:22%;
}