
/* img {
  cursor: zoom-in;
}
img:focus {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 93%;
  max-height: 93%;
  margin: auto;
  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(59,59,59,.4);
}
img:focus, 
img:focus ~ * {
  pointer-events: none;
} */